<mat-card>
  <mat-card-title>
    <mat-icon>lock</mat-icon>
    Login
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="beforeSignin()">
      <p>
        <mat-form-field>
          <input
            type="text"
            formControlName="username"
            matInput
            placeholder="Username"
            required
            onInput="this.value = this.value.toLowerCase()"
          />
          <mat-error
            *ngIf="loginForm.controls['username'].hasError('required')"
          >
            Login <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Password"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="loginForm.controls['password'].hasError('required')"
          >
            Password <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p class="submitButton">
        <button
          type="button"
          color="warm"
          mat-raised-button
          (click)="signup()"
          class="btn-margin-right"
        >
          Sign up
        </button>
        <button
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="loginForm.invalid"
        >
          Log in
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
